:root {
    --primary-action-color: rgba( 26, 26, 89,1);
    --secondary-action-color: rgba(128, 82, 21,1);
    --secondary-color: rgba(255,219,170,1)
}

.titlebar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background:
            linear-gradient(to right, var(--secondary-color), var(--secondary-action-color));
}

.titlebar .header {
    margin: 0em;
    color: var(--primary-action-color);
    font-size: 3rem;
}