:root {
    --primary-action-color: rgba( 26, 26, 89,1);
    --secondary-action-color: rgba(128, 82, 21,1);
    --secondary-color: rgba(255,219,170,1)
}

.page-wrap {
    max-width: 768px;
    margin: 0 auto;
}

.titlebar {
    display: flex;
    justify-content: center;
    padding: 10px;
    background:
            linear-gradient(to right, var(--secondary-color), var(--secondary-action-color));
}

.titlebar .header {
    margin: 0em;
    color: var(--primary-action-color);
    font-size: 3rem;
}

.section-title {
    font-size: 2em;
    padding: 0px 1em;
}

.recipe-list {
    min-width: 600px;
    margin: auto;
}

.recipe-list th {
    text-align: left;
    padding-bottom: 10px;
}

.recipe-list .column-header {
    font-size: 1.3em;
    font-weight: bold;
}

.recipe-listing {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
}
